<footer class="footer">
	<section class="container">
		<p>Milligram was designed with <span class="emojione-emoji" style="display: inline-block; line-height: normal; font-size: inherit; vertical-align: middle; position: relative; width: 4.1em; height: 4.1em; line-height: 4.1em; z-index: 100;"><svg style="padding: 0; margin: 0; width:100%; height:100%;" viewbox="0 0 64 64">
		<use xlink:href="#e1-2665" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> by <a href="http://cjpatoilo.com" target="_blank" title="CJ Patoilo">CJ Patoilo</a>. Licensed under the <a href="https://github.com/milligram/milligram#license" target="_blank" title="MIT License">MIT License</a>.</p>
	</section>
</footer>