<footer class="footer">
	<section class="container">
		<p>Milligram was designed with ♥ by <a href="http://cjpatoilo.com" target="_blank" title="CJ Patoilo">CJ Patoilo</a>. Licensed under the <a href="https://github.com/milligram/milligram#license" target="_blank" title="MIT License">MIT License</a>.</p>
	</section>
</footer>