<h3 class="title">Blockquotes</h3>

<p class="description">The Blockquote represents a section that is quoted from another
source.</p>

<div class="example">
  <blockquote>
    <p><em>Yeah!! Milligram is amazing.</em></p>
  </blockquote>
</div>
<pre class="code prettyprint prettyprinted"><code class="code-content"><span class="tag">&lt;blockquote&gt;</span><span class="pln">
</span><span class="tag">&lt;p&gt;&lt;em&gt;</span><span class=
"pln">Yeah!! Milligram is amazing.</span><span class=
"tag">&lt;/em&gt;&lt;/p&gt;</span><span class="pln">
</span><span class="tag">&lt;/blockquote&gt;</span></code></pre>