<h3 class="title">Getting Started</h3>

<div class="example">
  <p><strong>Install</strong></p>
</div>
<pre class="code prettyprint prettyprinted"><code class="code-content"><span class="pln">$ ember install ember-milligram</span></code></pre>