  <h3 class="title">Forms</h3>

  <p class="description">The Form has never been exactly fun, and it can be downright
  painful on a mobile device with its on-screen keyboard. Milligram help to make this
  much easier with design focused on the user experience.</p>

  <div class="example">
    <form action="javascript:%20void(0)">
      <fieldset>
        <label for="nameField">Name</label><input id="nameField" type="text" placeholder=
        "CJ Patoilo" /><label for="ageRangeField">Age Range</label><select id=
        "ageRangeField">
          <option value="0-13">
            0-13
          </option>
          <option value="14-17">
            14-17
          </option>
          <option value="18-23">
            18-23
          </option>
          <option value="24+">
            24+
          </option>
        </select><label for="commentField">Comment</label>
        <textarea id="commentField" placeholder="Hi CJ &hellip;"></textarea>
        <div class="float-right">
          <input id="confirmField" type="checkbox" /> <label class="label-inline" for=
          "confirmField">Send a copy to yourself</label>
        </div><input class="button-primary" type="submit" value="Send" />
      </fieldset>
    </form>
  </div>
  <pre class="code prettyprint prettyprinted"><code class="code-content"><span class="tag">&lt;form&gt;</span><span class="pln">
  </span><span class="tag">&lt;fieldset&gt;</span><span class="pln">
    </span><span class="tag">&lt;label</span><span class="pln"> </span><span class=
"atn">for</span><span class="pun">=</span><span class=
"atv">"nameField"</span><span class="tag">&gt;</span><span class=
"pln">Name</span><span class="tag">&lt;/label&gt;</span><span class="pln">
    </span><span class="tag">&lt;input</span><span class="pln"> </span><span class=
"atn">type</span><span class="pun">=</span><span class="atv">"text"</span><span class=
"pln"> </span><span class="atn">placeholder</span><span class="pun">=</span><span class=
"atv">"CJ Patoilo"</span><span class="pln"> </span><span class=
"atn">id</span><span class="pun">=</span><span class="atv">"nameField"</span><span class=
"tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;label</span><span class="pln"> </span><span class=
"atn">for</span><span class="pun">=</span><span class=
"atv">"ageRangeField"</span><span class="tag">&gt;</span><span class=
"pln">Age Range</span><span class="tag">&lt;/label&gt;</span><span class="pln">
    </span><span class="tag">&lt;select</span><span class="pln"> </span><span class=
"atn">id</span><span class="pun">=</span><span class=
"atv">"ageRangeField"</span><span class="tag">&gt;</span><span class="pln">
      </span><span class="tag">&lt;option</span><span class="pln"> </span><span class=
"atn">value</span><span class="pun">=</span><span class="atv">"0-13"</span><span class=
"tag">&gt;</span><span class="pln">0-13</span><span class=
"tag">&lt;/option&gt;</span><span class="pln">
      </span><span class="tag">&lt;option</span><span class="pln"> </span><span class=
"atn">value</span><span class="pun">=</span><span class="atv">"14-17"</span><span class=
"tag">&gt;</span><span class="pln">14-17</span><span class=
"tag">&lt;/option&gt;</span><span class="pln">
      </span><span class="tag">&lt;option</span><span class="pln"> </span><span class=
"atn">value</span><span class="pun">=</span><span class="atv">"18-23"</span><span class=
"tag">&gt;</span><span class="pln">18-23</span><span class=
"tag">&lt;/option&gt;</span><span class="pln">
      </span><span class="tag">&lt;option</span><span class="pln"> </span><span class=
"atn">value</span><span class="pun">=</span><span class="atv">"24+"</span><span class=
"tag">&gt;</span><span class="pln">24+</span><span class=
"tag">&lt;/option&gt;</span><span class="pln">
    </span><span class="tag">&lt;/select&gt;</span><span class="pln">
    </span><span class="tag">&lt;label</span><span class="pln"> </span><span class=
"atn">for</span><span class="pun">=</span><span class=
"atv">"commentField"</span><span class="tag">&gt;</span><span class=
"pln">Comment</span><span class="tag">&lt;/label&gt;</span><span class="pln">
    </span><span class="tag">&lt;textarea</span><span class="pln"> </span><span class=
"atn">placeholder</span><span class="pun">=</span><span class=
"atv">"Hi CJ &hellip;"</span><span class="pln"> </span><span class=
"atn">id</span><span class="pun">=</span><span class=
"atv">"commentField"</span><span class="tag">&gt;&lt;/textarea&gt;</span><span class=
"pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"float-right"</span><span class="tag">&gt;</span><span class="pln">
      </span><span class="tag">&lt;input</span><span class="pln"> </span><span class=
"atn">type</span><span class="pun">=</span><span class=
"atv">"checkbox"</span><span class="pln"> </span><span class="atn">id</span><span class=
"pun">=</span><span class="atv">"confirmField"</span><span class=
"tag">&gt;</span><span class="pln">
      </span><span class="tag">&lt;label</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"label-inline"</span><span class="pln"> </span><span class=
"atn">for</span><span class="pun">=</span><span class=
"atv">"confirmField"</span><span class="tag">&gt;</span><span class=
"pln">Send a copy to yourself</span><span class="tag">&lt;/label&gt;</span><span class=
"pln">
    </span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;input</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"button-primary"</span><span class="pln"> </span><span class=
"atn">type</span><span class="pun">=</span><span class="atv">"submit"</span><span class=
"pln"> </span><span class="atn">value</span><span class="pun">=</span><span class=
"atv">"Send"</span><span class="tag">&gt;</span><span class="pln">
  </span><span class="tag">&lt;/fieldset&gt;</span><span class="pln">
</span><span class="tag">&lt;/form&gt;</span><span class="pln">

</span><span class=
"com">&lt;!-- Always wrap checkbox and radio inputs in a label and use a &lt;span class="label-inline"&gt; inside of it --&gt;</span></code></pre>