  <h3 class="title">Tables</h3>

  <p class="description">The Table element represents data in two dimensions or more. We
  encourage the use of proper formatting with <code>thead</code> and <code>tbody</code>
  to create a <code>table</code>. The code becomes cleaner without disturbing
  understanding.</p>

  <div class="example">
    <table>
      <thead>
        <tr>
          <th>Name</th>

          <th>Age</th>

          <th>Height</th>

          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Stephen Curry</td>

          <td>27</td>

          <td>1,91</td>

          <td>Akron, OH</td>
        </tr>

        <tr>
          <td>Klay Thompson</td>

          <td>25</td>

          <td>2,01</td>

          <td>Los Angeles, CA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pre class="code prettyprint prettyprinted"><code class="code-content"><span class="tag">&lt;table&gt;</span><span class="pln">
  </span><span class="tag">&lt;thead&gt;</span><span class="pln">
    </span><span class="tag">&lt;tr&gt;</span><span class="pln">
      </span><span class="tag">&lt;th&gt;</span><span class="pln">Name</span><span class=
"tag">&lt;/th&gt;</span><span class="pln">
      </span><span class="tag">&lt;th&gt;</span><span class="pln">Age</span><span class=
"tag">&lt;/th&gt;</span><span class="pln">
      </span><span class="tag">&lt;th&gt;</span><span class=
"pln">Height</span><span class="tag">&lt;/th&gt;</span><span class="pln">
      </span><span class="tag">&lt;th&gt;</span><span class=
"pln">Location</span><span class="tag">&lt;/th&gt;</span><span class="pln">
    </span><span class="tag">&lt;/tr&gt;</span><span class="pln">
  </span><span class="tag">&lt;/thead&gt;</span><span class="pln">
  </span><span class="tag">&lt;tbody&gt;</span><span class="pln">
    </span><span class="tag">&lt;tr&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class=
"pln">Stephen Curry</span><span class="tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class="pln">27</span><span class=
"tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class="pln">1,91</span><span class=
"tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class=
"pln">Akron, OH</span><span class="tag">&lt;/td&gt;</span><span class="pln">
    </span><span class="tag">&lt;/tr&gt;</span><span class="pln">
    </span><span class="tag">&lt;tr&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class=
"pln">Klay Thompson</span><span class="tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class="pln">25</span><span class=
"tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class="pln">2,01</span><span class=
"tag">&lt;/td&gt;</span><span class="pln">
      </span><span class="tag">&lt;td&gt;</span><span class=
"pln">Los Angeles, CA</span><span class="tag">&lt;/td&gt;</span><span class="pln">
    </span><span class="tag">&lt;/tr&gt;</span><span class="pln">
  </span><span class="tag">&lt;/tbody&gt;</span><span class="pln">
</span><span class="tag">&lt;/table&gt;</span><span class="pln">

</span><span class=
"com">&lt;!-- Prior to the creation of CSS, HTML &lt;table&gt; elements were often used as a method for page layout. This usage has been discouraged since HTML4, and the &lt;table&gt; element should not be used for layout purposes. --&gt;</span></code></pre>