  <h3 class="title">Utilities</h3>

  <p class="description">Milligram has some functional classes to improve the performance
  and productivity everyday.</p>
  <pre class="code prettyprint prettyprinted" style="">
<code class="code-content"><span class=
"com">&lt;!-- Functional Classes --&gt;</span><span class="pln">

</span><span class="com">&lt;!-- Clear any float  --&gt;</span><span class="pln">
</span><span class="tag">&lt;div</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"clearfix"</span><span class="tag">&gt;</span><span class="pln">

  </span><span class="com">&lt;!-- Float either directions --&gt;</span><span class=
"pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"float-left"</span><span class="tag">&gt;&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"float-right"</span><span class="tag">&gt;&lt;/div&gt;</span><span class="pln">

</span><span class="tag">&lt;/div&gt;</span></code>
</pre>