  <h3 class="title">Buttons</h3>

  <p class="description">The Button, an essential part of any user experience. Buttons
  come in three basic styles in Milligram: The <code>button</code> element has flat color
  by default, whereas <code>.button-outline</code> has a simple outline around, and
  <code>.button-clear</code> is entirely clear.</p>

  <div class="example">
    <a class="button" href="javascript:%20void(0)">Default Button</a> <button class=
    "button button-outline">Outlined Button</button> <input class="button button-clear"
    type="submit" value="Clear Button" />
  </div>
  <pre class="code prettyprint prettyprinted"><code class="code-content"><span class=
"com">&lt;!-- Default Button --&gt;</span><span class="pln">
</span><span class="tag">&lt;a</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class="atv">"button"</span><span class=
"pln"> </span><span class="atn">href</span><span class="pun">=</span><span class=
"atv">"#"</span><span class="tag">&gt;</span><span class=
"pln">Default Button</span><span class="tag">&lt;/a&gt;</span><span class="pln">

</span><span class="com">&lt;!-- Outlined Button --&gt;</span><span class="pln">
</span><span class="tag">&lt;button</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"button button-outline"</span><span class="tag">&gt;</span><span class=
"pln">Outlined Button</span><span class="tag">&lt;/button&gt;</span><span class="pln">

</span><span class="com">&lt;!-- Clear Button --&gt;</span><span class="pln">
</span><span class="tag">&lt;input</span><span class="pln"> </span><span class=
"atn">class</span><span class="pun">=</span><span class=
"atv">"button button-clear"</span><span class="pln"> </span><span class=
"atn">type</span><span class="pun">=</span><span class="atv">"submit"</span><span class=
"pln"> </span><span class="atn">value</span><span class="pun">=</span><span class=
"atv">"Clear Button"</span><span class="tag">&gt;</span><span class="pln">

</span><span class=
"com">&lt;!-- Easily apply the .button class for button style in the anchor element. --&gt;</span></code></pre>